{% extends 'layout.html.twig' %}
{% block title %}
    Reservation salle
{% endblock %}
{% block body %}
    <a src="/uploads/images/clients/60ac4d55b6d1c664589847.jpg"></a>
    <div class="container" style="margin-top: 15px" >
        <h3>Créer une nouvelle Salle </h3>
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col">
                    {{ form_row(form.nbr_tables) }}
                </div>
            </div>
            <div class="row-9">
                {{ form_row(form.data_show ) }}
            </div>
            <div class="row-15">
                {{ form_row(form.climatisation ) }}
            </div>
            <div class="row-15">
                {{ form_row(form.nbr_tableaux ) }}
            </div>
            <div class="row-15">
                {{ form_row(form.imageFile) }}
            </div>
            <div class="row-15">
                {{ form_row(form.prix) }}
            </div>
            <div class="row-15">
                <button type="submit" class="btn">Créer</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}