
{% extends 'layout.html.twig' %}
{% block title %}Listes de tout les comptes{% endblock %}


{% block body %}
    <table style="width:100%">
        <tr>
            <th>ID de réservation</th>
            <th>Faite par</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Description</th>
            <th>Motif</th>
        </tr>
        <tr>
            {% for reservation in reservations %}
                <td>{{ reservation.id }}</td>
                <td><a href="/user/{{ reservation.userID }}">{{ reservation.userID }}</td>
                <td>{{ reservation.date_debut }}</td>
                <td>{{ reservation.date_fin }}</td>
                <td>{{ reservation.description }}</td>
                <td>{{ reservation.motif }}</td>
            {% endfor %}
        </tr>
    </table>
{% endblock %}