
{% extends 'layout.html.twig' %}
{% block title %}Listes de tout les comptes{% endblock %}


{% block body %}
    <table style="width:100%">
        <tr>
            <th>ID de réservation</th>
            <th>Faite par</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Salle</th>
            <th>Description</th>
            <th>Motif</th>
        </tr>
            {% for reservation in reservations %}
        <tr>
                <td>{{ reservation.id }}</td>
                <td><a href="{{ path('user_show',{id: reservation.userID}) }}">{{ reservation.userID }}</td>
                <td>{{ reservation.date_debut }}</td>
                <td>{{ reservation.date_fin }}</td>
                <td><a href = "{{ path('salle.detail',{salle : reservation.salle })}}">{{ reservation.salle }}</td>
                <td>{{ reservation.description }}</td>
                <td>{{ reservation.motif }}</td>
                <td>
                    <a href = "{{ path('admin_reservations_delete', {'id' : reservation.id }) }}" class= "btn btn-primary">Supprimer</a>
                </td>
        </tr>
            {% endfor %}
    </table>
{% endblock %}