
{% extends 'layout.html.twig' %}
{% block title %}Listes de tout les comptes{% endblock %}


{% block body %}
    <a class = "btn btn-primary" href="{{ path("admin_salles_create") }}">Créer une salle</a>
    <table style="width:100%">
        <tr>
            <th>ID de la salle</th>
            <th>Nom de la salle</th>
            <th>Nombre de tables</th>
            <th>Projecteur</th>
            <th>Climatisation</th>
            <th>Nombre de tableaux</th>
            <th>Prix</th>
        </tr>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.nbrtables }}</td>
                <td>{{ salle.datashow }}</td>
                <td>{{ salle.climatisation }}</td>
                <td>{{ salle.nbrtableaux }}</td>
                <td>{{ salle.prix }}dt</td>
                <td>
                    <a href = "{{ path('admin_salles_edit', {'id' : salle.id }) }}" class= "btn btn-primary">Modifier</a>
                    <a href = "{{ path('admin_salles_delete', {'id' : salle.id }) }}" class= "btn btn-primary">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}