{% extends 'layout.html.twig' %}

{% block body %}

    <img href="{{ asset('images/Photo .jpg') }}" />
<div class="container">
        <div class="card" style="width: 70rem;">
            <div class="card-body">
                <h5 class="card-title">Details Salle </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ salle.nom }}</h6>
                <p class="card-text">Nombre de tables : {{ salle.getNbrTables() }} </p>
                <p class="card-text">Data show : {% if salle.getDataShow() %} Disponible {% else %} Non disponible {% endif %}</p>
                <p class="card-text">Climatisation : {% if salle.getClimatisation() %} Disponible {% else %} Non disponible {% endif %}</p>
                <p class="card-text">Nombre de tableaux : {{ salle.getNbrTableaux() }} </p>

                <a class="btn btn-outline-info" role="button" style="float:right " href="{{ path('salle.reservation',{'salle' : salle.id}) }}" class="card-link">Reservation</a>

            </div>
        </div>


</div>
{% endblock %}

{% block title %}
    Salle details
{% endblock %}
