{% extends 'layout.html.twig' %}
{% block title %}
    Reservation salle
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
{% endblock %}
{% block body %}
<a src="/uploads/images/clients/60ac4d55b6d1c664589847.jpg"></a>
    <div class="container" style="margin-top: 15px" >
    <h3>Reservation {{ salle }} </h3>
    <div class="container">
{{ form_start(form) }}
<div class="row">
    <h1>Commencez par nous dire quelles sont les dates qui vous intéressent !</h1>
    <div class="col">
        {{ form_row(form.date_debut) }}
    </div>
    <div class="col">
        {{ form_row(form.date_fin) }}
    </div>

</div>
        <div class="row-9">

                {{ form_row(form.motif) }}
            </div>
            <div class="row-15">
                {{ form_row(form.description) }}
            </div>
        <div class="row-15">
            {{ form_row(form.confirmer, { 'label': 'confirmer' }) }}
            {{ form_end(form) }}
        </div>


    </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script>
    $(document).ready(function(){
        $('#reservation_date_debut,#reservation_date_fin').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in salle.notAvailableDays %}
                    "{{ day.format('d/m/Y') }}",
                    {% endfor %}],
                startDate: new Date(),

            }
        )

    });
</script>
{% endblock %}