{% extends 'layout.html.twig' %}
   {% block title %}
       Reservation
   {% endblock %}
    {%  block body %}
        <div class="container">
        <div class="row" >
            {% for salle in salles %}
                <div class="card mb-2 m-3">
                    <img class="card-img-top m-3" src="/uploads/images/salles/1T4A0584-1024x683.jpg" style="width:500px;height:200px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{  salle.nom }}</h5>
                        <p class="card-text">Nombre de tables : {{ salle.getNbrTables() }}</p>
                        <p class="card-text"><small class="text-muted">Prix : {{ salle.getPrix() }} TND / Heure</small></p>
                        <a href="{{ path('salle.detail',{'salle' : salle.id}) }}" style="float: right" class="btn btn-outline-info">Details</a>
                    </div>
                </div>
            {% endfor %}

        </div>
            {{ pagination.display() }}
        </div>
    {% endblock %}