{% extends 'layout.html.twig' %}
{% block title %}Réservation n°{{ reservation.id }}{% endblock %}

{% block body %}

    {% set salle = reservation.salle %}

    <div class="container">
        <h1 class="my-5">Votre réservation (n°{{reservation.id}})</h1>

        {% if app.request.query.get('withAlert') %}
            <div class="alert alert-success">
                <h4 class="alert-heading">Bravo !</h4>
                <p>
                    Votre réservation pour la salle
                    <strong>
                        <a href="{{path('Reservation', {'id': salle.id}) }}">{{salle.nom}}</a>
                    </strong>
                    a bien été prise en compte !
                </p>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Détails</h2>
                    <dl class="row">
                        <dt class="col-md-4">Numéro</dt>
                        <dd class="col-md-8">{{reservation.id}}</dd>
                        <dt class="col-md-4">Date d'arrivée</dt>
                        <dd class="col-md-8">{{reservation.DateDebut | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Date de départ</dt>
                        <dd class="col-md-8">{{reservation.DateFin | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Nombre de jours</dt>
                        <dd class="col-md-8">{{reservation.duration}}</dd>
                        <dt class="col-md-4">Montant total</dt>
                        <dd class="col-md-8">{{reservation.prix | number_format(2, ',', ' ')}} &euro;</dd>
                    </dl>
            </div>
        </div>
    </div>

{% endblock %}